.home-cont {
    width: 100%;
    height: 100%;
    // .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    /* Use rgba for transparency, adjust the last value (0.5) for the desired opacity */
    // position: fixed;
    z-index: 999;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    //   }
    // background-color: aqua;
    button{
        margin: 5%;
        width: 80%;
        height: 5%;
        background-color: transparent;
        color: #fff;
        border: 3px solid #fff;
        font-size: 14px;
        font-weight: normal;
        max-width: 120px;
    }
}